/**
* Blog container
*
* @section Block
* @author  laustdeleuran
*/
.calendar,
.calendar__days-of-the-week {
	@include transition(0.5s ease-out);
}
.calendar {
	max-width: em(5 * $unit);

	opacity: 0.5;
}
.calendar--init {
	&,
	.calendar__days-of-the-week {
		opacity: 1;
	}
	.calendar__content {
		min-height: none;

		background-color: transparent;
	}
}
.calendar__loading,
.calendar__error {
	margin: em($base-line-height);
}
.calendar__content,
.calendar__controls,
.calendar__month,
.calendar__days {
	overflow: hidden;
}
.calendar__content {
	min-height: em($base-line-height * 8);

	text-align: center;

	background-color: $color-grey-light;
}
.calendar__controls,
.calendar__days {
	clear: both;
}
.calendar__controls {
	display: block;
	width: 100%;

	color: $color-grey-medium;
}
.calendar__month {
	text-align: center;
	color: $color-black;
	font-weight: bold;
}
.calendar__prev,
.calendar__next {
	float: left;
	padding: 0 em($base-line-height * 0.5);
	border-bottom: 1px solid transparent;

	font-weight: normal;
	text-align: left;
	color: $color-black;

	cursor: pointer;
	outline: none;

	&:focus,
	&:active,
	&:hover {
		border-color: $color-action;
		
		color: $color-action;
	}
}
.calendar__next {
	float: right;
	text-align: right;
}
.calendar__days-of-the-week {
	overflow: hidden;

	opacity: 0;
}
.calendar__header-day,
.calendar__days .day {
	float: left;
	width: percentage(1/7);
}
.calendar__days .day {
	&.event {
		color: $color-grey-dark;

		background: mix($color-grey-light, $color-white);
	}
	&.past {
		color: $color-grey-light;
	}
	&.past.event {
		background: mix($color-grey-light, $color-white, 25);
	}
	&.calendar-dow-6,
	&.calendar-dow-0 {
		color: $color-grey-light;

		background: mix($color-grey-light, $color-white, 25);
	}
	&.last-month,
	&.next-month {
		visibility: hidden;
		opacity: 0;
	}
	&[title] {
		cursor: help;
	}
	&.today,
	&.today.event {
		color: $color-black;

		background: $color-action;
	}
}
.calendar__header-day {
	font-weight: bold;
}
.calendar__days .calendar-dow-1 {
	clear: left;
}
.calendar__today {
	display: inline-block;
	border-bottom: 1px solid transparent;

	color: $color-action-dark;
	text-decoration: none;
	vertical-align: baseline;

	@include transition(0.2s ease);

	cursor: pointer;
	outline: none;

	&:hover,
	&:active,
	&:focus {
		border-bottom-color: $color-action-dark;
	}
}