---
layout: default
title: Hire me
weight: 3
permalink: /hire-me/
metaDescription: Interested in high-quality front-end development or UX design? I'm available for freelance work. Boom!
---

<article class="article about">
	<h1>Interested in stunning front-end develop&shy;ment &amp; user experience design?</h1>
	<p>I've created stuff for the web for over 15 years, and I've been working professionally in the industry for 5+ years. People tell me I do front-end development and UX design, but what I really love is creating engaging interactions. The devil is in the detail.</p>
	<section class="calendar" data-jsonp="http://www.google.com/calendar/feeds/5jiks6jphm3brne2q5k918plo4%40group.calendar.google.com/public/full?alt=json-in-script&orderby=starttime&max-results=60&singleevents=true&sortorder=ascending&futureevents=true" data-text-busy="I'm unfortunately busy this day." data-text-free="Looks like I'm available that day! Whoop, whoop!">

		<h2 class="calendar__title">Availability</h2>

		<p>Want to know if I'm available to help out on a project? Check out my work calendar below.</p>
		
		<script type="text/template" class="calendar__template">
			<div class="calendar__controls clndr-controls">
				<div class="calendar__prev clndr-previous-button" tabindex="0">&larr;</div>
				<div class="calendar__next clndr-next-button" tabindex="0">&rarr;</div>
				<div class="calendar__month month"><%= month %></div>
			</div>
			<div class="calendar__grid clndr-grid">
				<div class="calendar__days-of-the-week days-of-the-week">
					<% _.each(daysOfTheWeek, function(day) { %>
						<div class="calendar__header-day header-day"><%= day %></div>
					<% }); %>
					<div class="calendar__days days">
						<% _.each(days, function(day) { %>
							<div class="<%= day.classes %>" <%
								if (day.events.length) {
									%> title="I'm unfortunately busy this day."<%
								} else if (day.classes.indexOf('calendar-dow-6') === -1 && day.classes.indexOf('calendar-dow-0') === -1) {
									%> title="Looks like I'm available that day! Whoop, whoop!"<%
								}
							%>><%= day.day %></div>
						<% }); %>
					</div>
				</div>
			</div>
			<div class="calendar__today clndr-today-button" tabindex="0">Today</div>
		</script>

		<div class="calendar__content">
			<p class="calendar__loading">Loading calendar&hellip;</p>
		</div>
	</section>
	<h2>Get in touch</h2>
	<p>I'm  available for freelance work, should you be interested. If so, you should reach out!</p>
	<table class="vcard">
		<tr>
			<th colspan="2" class="fn n">
				Laust Johan Deleuran
			</th>
		</tr>
		<tr>
			<td>E-mail</td>
			<td><a href="mailto:hello@ljd.dk" class="email" target="_blank">hello@ljd.dk</a></td>
		</tr>
		<tr>
			<td>Twitter</td>
			<td><a href="http://twitter.com/laustdeleuran" class="url" target="_blank">@laustdeleuran</a></td>
		</tr>
		<tr>
			<td>LinkedIn</td>
			<td><a href="http://www.linkedin.com/in/laustdeleuran/" class="url" target="_blank">/in/laustdeleuran/</a></td>
		</tr>
	</table>
</article>