---
layout: default
title: Hire me
weight: 3
permalink: /hire-me/
metaDescription: Interested in high-quality front-end development or UX design? I'm available for freelance work. Boom!
---

<article class="article about">
	<h1>Interested in stunning front-end development or user experience design?</h1>
	<p>I've created stuff for the web for over 15 years, and I've been working professionally in the industry for 5+ years. People tell me I do front-end development and UX design, but what I really love is creating engaging interactions. The devil is in the detail.</p>
	<section class="calendar" data-jsonp="http://www.google.com/calendar/feeds/5jiks6jphm3brne2q5k918plo4%40group.calendar.google.com/public/full?alt=json-in-script&orderby=starttime&max-results=15&singleevents=true&sortorder=ascending&futureevents=true">

		<h2 class="calendar__title">Availability</h2>
		
		<script type="text/template" class="calendar__template">
			<div class="calendar__controls clndr-controls">
				<div class="calendar__prev clndr-previous-button">&lsaquo;</div>
				<div class="calendar__month month"><%= month %></div>
				<div class="calendar__next clndr-next-button">&rsaquo;</div>
			</div>
			<div class="calendar__grid clndr-grid">
				<div class="calendar__days-of-the-week days-of-the-week">
					<% _.each(daysOfTheWeek, function(day) { %>
						<div class="calendar__header-day header-day"><%= day %></div>
					<% }); %>
					<div class="calendar__days days">
						<% _.each(days, function(day) { %>
							<div class="<%= day.classes %>"><%= day.day %></div>
						<% }); %>
					</div>
				</div>
			</div>
			<div class="calendar__today clndr-today-button">Today</div>
		</script>

		<div class="calendar__content"></div>
	</section>
	<h2>Get in touch</h2>
	<p>I'm  available for freelance work, should you be interested. If so, you should reach out!</p>
	<table class="vcard">
		<tr>
			<th colspan="2" class="fn n">
				Laust Johan Deleuran
			</th>
		</tr>
		<tr>
			<td>E-mail</td>
			<td><a href="mailto:hello@ljd.dk" class="email" target="_blank">hello@ljd.dk</a></td>
		</tr>
		<tr>
			<td>Twitter</td>
			<td><a href="http://twitter.com/laustdeleuran" class="url" target="_blank">@laustdeleuran</a></td>
		</tr>
		<tr>
			<td>LinkedIn</td>
			<td><a href="http://www.linkedin.com/in/laustdeleuran/" class="url" target="_blank">/in/laustdeleuran/</a></td>
		</tr>
	</table>
</article>