/**
* Standard typographical styles
*
* @section Block
* @author  laustdeleuran
*/
.type__serif {
	font-family:$font-stack-serif;
}
.type__sansserif {
	font-family:$font-stack-sansserif;
}
h1,
.type__h1,
h2,
.type__h2,
h3,
.type__h3,
h4,
.type__h4,
h5,
.type__h5,
h6,
.type__h6 {
	@include establish-baseline();
	margin:0;
	padding:0;

	font-weight:700;
	font-style:normal;
	font-family:$font-stack-serif;

	&:first-child {
		@include leader(0);
	}
}
h1,
.type__h1 {
	@include adjust-font-size-to(56px);
	@include leader(2, 56px);
	@include trailer(1, 56px);
}
h2,
.type__h2 {
	@include adjust-font-size-to(40px);
	@include leader(2, 40px);
	@include trailer(1, 40px);
}
h3,
.type__h3 {
	@include adjust-font-size-to(24px, 1.5);
	@include leader(2, 24px);
	@include trailer(1, 24px);
}
.type__blink {
	-webkit-animation: typeBlink 0.5s steps(1) infinite alternate;
	-moz-animation: typeBlink 0.5s steps(1) infinite alternate;
  animation: typeBlink 0.5s steps(1) infinite alternate;
}
p,
ol,
ul,
li,
blockquote,
figure, 
figcaption {
	display: block;
	margin: 0;
	padding: 0;
	@include trailer(1);
}
@-webkit-keyframes typeBlink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes typeBlink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes typeBlink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}