/**
* Mixins for browser alignment
*
* @section Base
* @author  laustdeleuran
*/
%clearfix-after {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.ie7 & { min-height: 1px; }
}
%hide-text {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
%pseudo-block {
	@extend %hide-text;	
	content:".";
	display:block;
}
%min-width {
	min-width: 280px;
}
@mixin poly-before {
	&:before {
		content:"\2009";
		@content;
	}
	&>.before {
		@content;
	}
}
@mixin poly-after {
	&:after {
		content:"\2009";
		@content;
	}
	&>.after {
		@content;
	}
}