/**
* Standard typographical styles
*
* @section Block
* @author  laustdeleuran
*/
.type__serif {
	font-family:$font-stack-serif;
}
.type__sansserif {
	font-family:$font-stack-sansserif;
}
h1,
.type__h1,
h2,
.type__h2,
h3,
.type__h3,
h4,
.type__h4,
h5,
.type__h5,
h6,
.type__h6 {
	@include establish-baseline();
	margin:0;
	padding:0;

	font-weight:700;
	font-style:normal;
	font-family:$font-stack-serif;

	&:first-child {
		@include leader(0);
	}
}
h1,
.type__h1 {
	@include adjust-font-size-to(63px);
	@include leader(2, 63px);
	@include trailer(1, 63px);
}
h2,
.type__h2 {
	@include adjust-font-size-to(45px);
	@include leader(2, 45px);
	@include trailer(1, 45px);
}
h3,
.type__h3 {
	@include adjust-font-size-to(27px, 1.5);
	@include leader(2, 27px);
	@include trailer(1, 27px);
}
.type__blink {
	-webkit-animation: typeBlink 0.5s steps(1) infinite alternate;
	-moz-animation: typeBlink 0.5s steps(1) infinite alternate;
  animation: typeBlink 0.5s steps(1) infinite alternate;
}
p,
ol,
ul,
li,
blockquote,
figure, 
figcaption {
	display: block;
	margin: 0;
	padding: 0;
	@include trailer(1);
}
code {
	@include adjust-font-size-to(16px);
}
table {
	@include trailer(1);
}
table,
tr,
td,
th {
	text-align: left;
	vertical-align: top;
}
td,
th {
	padding: 0 em($base-line-height / 2) 0 0;
}
@-webkit-keyframes typeBlink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes typeBlink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes typeBlink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@media screen and (max-width:800px) {
	h1,
	.type__h1 {
		@include adjust-font-size-to(45px);
		@include leader(2, 45px);
		@include trailer(1, 45px);
	}
	h2,
	.type__h2 {
		@include adjust-font-size-to(36px);
		@include leader(2, 36px);
		@include trailer(1, 36px);
	}
	h3,
	.type__h3 {
		@include adjust-font-size-to(24px, 1.5);
		@include leader(2, 24px);
		@include trailer(1, 24px);
	}
	.type__blink {
		-webkit-animation: typeBlink 0.5s steps(1) infinite alternate;
		-moz-animation: typeBlink 0.5s steps(1) infinite alternate;
	  animation: typeBlink 0.5s steps(1) infinite alternate;
	}
}
@media screen and (max-width:400px) {
	h1,
	.type__h1 {
		@include adjust-font-size-to(36px);
		@include leader(2, 36px);
		@include trailer(1, 36px);
	}
	h2,
	.type__h2 {
		@include adjust-font-size-to(24px, 1.5);
		@include leader(2, 24px);
		@include trailer(1, 24px);
	}
	h3,
	.type__h3 {
		@include adjust-font-size-to(18px);
		@include leader(2);
		@include trailer(1);
	}
	.type__blink {
		-webkit-animation: typeBlink 0.5s steps(1) infinite alternate;
		-moz-animation: typeBlink 0.5s steps(1) infinite alternate;
	  animation: typeBlink 0.5s steps(1) infinite alternate;
	}
}