/**
* Blog container
*
* @section Block
* @author  laustdeleuran
*/
.calendar {
	display: none;
	max-width: em(4 * $unit);
}
.calendar--init {
	display: block;
}
.calendar__content {
	text-align: center;
}
.calendar__controls {
	display: block;
	overflow: hidden;
	width: 100%;

	color: $color-grey-medium;
}
.calendar__month {
	overflow: hidden;

	text-align: center;
	color: $color-black;
	font-weight: bold;
}
.calendar__prev,
.calendar__next {
	float: left;
	padding: 0 em($base-line-height * 0.5);
	border-bottom: 1px solid transparent;

	font-weight: normal;
	text-align: left;
	color: $color-black;

	cursor: pointer;
	outline: none;

	&:focus,
	&:active,
	&:hover {
		border-color: $color-action;
		
		color: $color-action;
	}
}
.calendar__next {
	float: right;
	text-align: right;
}
.calendar__days-of-the-week {
	overflow: hidden;
}
.calendar__header-day,
.calendar__days .day {
	float: left;
	width: percentage(1/7);
}
.calendar__days .day {
	&.today {
		background: $color-action;
	}
	&.event {
		color: $color-grey-dark;

		background: mix($color-grey-light, $color-white);
	}
	&.past {
		color: $color-grey-light;
	}
	&.past.event {
		background: mix($color-grey-light, $color-white, 25);
	}
	&.calendar-dow-6,
	&.calendar-dow-0 {
		color: $color-grey-light;

		background: mix($color-grey-light, $color-white, 25);
	}
	&.last-month,
	&.next-month {
		visibility: hidden;
		opacity: 0;
	}
	&[title] {
		cursor: help;
	}
}
.calendar__header-day {
	font-weight: bold;
}
.calendar__days .calendar-dow-1 {
	clear: left;
}
.calendar__today {
	display: inline-block;
	border-bottom: 1px solid transparent;

	color: $color-action-dark;
	text-decoration: none;
	vertical-align: baseline;

	@include transition(0.2s ease);

	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		border-bottom-color: $color-action-dark;
	}
}
// CLNDR default styles
/*.clndr-controls {
	display: block;
	display: inline-block;
	width: 100%;
	margin-bottom: 3px;
}
.clndr-controls .clndr-previous-button {
	float: left;
	width: 10%;
	text-align: left;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.clndr-controls .clndr-previous-button:hover {
	background-color: #f4f4f4;
}
.clndr-controls .month {
	float: left;
	width: 80%;
	text-align: center;
}
.clndr-controls .clndr-next-button {
	float: left;
	width: 10%;
	text-align: right;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.clndr-controls .clndr-next-button:hover {
	background-color: #f4f4f4;
}
.clndr-grid {
	text-align: center;
	border: 1px solid #FF4545;
	display: inline-block;
}
.clndr-grid .header-day {
	float: left;
	width: 25px;
	height: 25px;
	background: #FF4545;
}
.clndr-grid .day {
	float: left;
	width: 25px;
	height: 25px;
}
.clndr-grid .calendar-dow-1 {
	clear: left;
}
.clndr-grid .day.event {
	background-color: #B4E09F;
}
.clndr-grid .day.today {
	background-color: #E3C57F;
}
.clndr-grid .empty,
.clndr-grid .adjacent-month {
	float: left;
	width: 25px;
	height: 25px;
	background: #ddd;
}
.clndr-today-button {
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.clndr-today-button:hover {
	background-color: #ddd;
}*/