/**
* Embed container
*
* @section Block
* @author  laustdeleuran
*/
.embed {
	width: auto;
	height: auto;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: em($unit);

	iframe,
	object,
	embed,
	video {
		display: block;
		width: 100%;
		height: 100%;
	}
}
.embed__title {
	margin: 0;

	position: absolute;
	right: em($unit, 63px);
	bottom: em($unit, 63px);
	left: em($unit, 63px);
	
	@include adjust-font-size-to(63px);
	color: $color-white;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}
// Media queries
@media screen and (max-width:1000px) {
	.embed__title {
		right: em($unit, 36px);
		bottom: em($unit, 36px);
		left: em($unit, 36px);
		
		@include adjust-font-size-to(36px);
	}
}
@media screen and (max-width:900px) {
	.embed__title {
		right: em($unit, 27px);
		bottom: em($unit, 27px);
		left: em($unit, 27px);
		
		@include adjust-font-size-to(27px, 1.5);
	}
}
@media screen and (max-width:600px) {
	.embed__title {
		right: em($base-line-height, 27px);
		bottom: em($base-line-height, 27px);
		left: em($base-line-height, 27px);
		
		@include adjust-font-size-to(27px, 1.5);
	}
	.embed {
		top: em($unit);
		left: 0;
	}
}