/**
* Embed container
*
* @section Block
* @author  laustdeleuran
*/
.embed {
	width: auto;
	height: auto;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: em($unit);
}
@media screen and (max-width:600px) {
	.embed {
		top: em($unit);
		left: 0;
	}
}