/**
* Main site navigation
*
* @section Block
* @author  laustdeleuran
*/
.nav {
	width: em($unit);
	padding: em($unit) 0;

	position: fixed;
	top: 0;
	bottom: 0;

	color: $color-white;
	font-weight: 300;

	background: $color-grey-dark;

	box-shadow: inset -5px 0 rgba(0, 0, 0, 0.25);

	ul,
	li {
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		width: em($unit);
		height: em($unit);
	}
	a {
		display: table-cell;
		width: em($unit);
		height: em($unit);
		padding: 0 0.5em;

		color: $color-grey-light;
		vertical-align: middle;
		text-decoration: none;
		text-align: center;

		@include transition(color 0.2s ease-out);

		&:hover {
			color: $color-white;
		}
		&.nav--active {
			background-color: rgba(255, 255, 255, 0.05);
		}
	}
	a {
		border: none;
	}
}
@media screen and (max-width:600px) {
	.nav {
		width: auto;
		height: em($unit);
		padding: 0 em($unit / 2);
		overflow: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;

		position: static;


		box-shadow: inset 0 -5px rgba(0, 0, 0, 0.25);

		ul {
			min-width: em($unit * 4);
		}
		li {
			float: left;
		}
	}
}
@media screen and (max-width:400px) {
	.nav {
		padding: 0;
	}
}