/**
* Post
*
* @section Block
* @author  laustdeleuran
*/
.post {
	@extend %clearfix-after;

	margin: em($unit);
	padding-bottom: em($unit);
	border-bottom: 1px solid $color-grey-light;

	position: relative;

	h1, h2, h3 {
		@extend .type__h3;

		a {
			color: inherit;
		}
	}
	img {
		display: block;
		@include trailer(1);
		max-width: em($unit * 5);
		width: auto;
		height: auto;
	}
	iframe {
		@include trailer(1);
		max-width: 100%;
	}
	.post__meta,
	ul,
	ol,
	li,
	blockquote,
	p {
		max-width: em($unit * 5);
	}
	blockquote {
		p:before {
			content:"»";
		}
		p:last-of-type:after {
			content:"«";
		}
	}
	ul li {
		list-style: disc;
	}
	ol li {
		list-style: upper-roman;
	}
	li {
		display: list-item;
	}
}
.post__link,
.post__quote,
.post__video,
.post__audio,
.post__text,
.post__conversation,
.post__photo {}
.post__meta {
	max-width: em(5 * $unit);
	overflow: hidden;

	font-weight: 100;

	a {
		margin-right: 0.5em;

		color: $color-grey-light;
	}
	.post__permalink {
		@extend .type__h3;

		border: none;
		margin: 0;
		float: right;

		color: $color-black;

		&:hover {
			color: $color-action;
		}
	}
}
.post .post__text {
	h1 {
		@extend .type__h2;
	}
	blockquote {
		@include box-sizing(border-box);
		@include trailer(1);
		padding: 0 em($unit / 2);
		
		color: $color-grey-medium;

		p:before {
			content:"";
		}
		p:last-of-type:after {
			content:"";
		}
	}
}
.post__quote {
	p {
		@extend .type__h3;	
	}
	cite {
		font-style: normal;
		font-weight: 700;
	}
}
.post__photo {
	> a {
		border: none;
	}
}
.post__photo--feature {
	img {
		max-width: 100%;
	}
	& ~ .post__meta .post__notes-count,
	& ~ .post__meta .post__permalink {
		display: none;
	}
}
.post__notes {
	@include leader(2);

	ol,
	li {
		list-style: none;
	}
	li {
		overflow: hidden;
		margin: 0;
	}
	img {
		float: left;
		margin-right: 5px;
	}
	.avatar_frame {
		display: none;
	}
}
@media screen and (max-width:700px) {
	.post {
		margin: em($unit) em($unit / 2);
	}
}
@media screen and (max-width:600px) {
	.post {
		margin: em($unit / 2);
	}
}
@media screen and (max-width:400px) {
	.post {
		margin: em($base-line-height);
	}
}