/**
* Responsive images
*
* @section Block
* @author  laustdeleuran
*/
.responsive-img {}
.responsive-img__loading {
	padding: em($base-line-height * 0.5);

	position: absolute;

	color: $color-black;
	white-space: nowrap;

	background-color: rgba(255, 255, 255, 0.5);
}