<!DOCTYPE html>
<!--[if lte IE 8]><html lang="en" class="no-js old-ie"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Laust Johan Deleuran - ljd.dk" />
	<meta name="description" content="{{ page.metaDescription }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ page.title }} - {{ site.name }}</title>

	<link rel="shortcut icon" href="/images/favicon.jpg" />
	<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/styles/style.css" media="all" />
	<link rel="stylesheet" href="/styles/print.css" media="print" />

	<script src="/scripts/components/modernizr/modernizr.js"></script>
	<script data-main="/scripts/main" src="/scripts/components/requirejs/require.js"></script>
</head>
<body>

	<nav class="nav">
		<ul>
			{% for node in site.pages %}
				{% if node.hideFromMenu %}
				{% else %}
					{% if page.url == node.url %}
						<li><a href="{{node.url}}" class="is-active">
							{% if node.menuTitle %}
								{{node.menuTitle}}
							{% else %}
								{{node.title}}
							{% endif %}
						</a></li>
					{% else %}
						<li><a href="{{node.url}}">
							{% if node.menuTitle != null %}
								{{node.menuTitle}}
							{% else %}
								{{node.title}}
							{% endif %}
						</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</nav>

	<div class="content">

		{{ content }}

	</div>

</body>
</html>
