/**
* Mixins for browser alignment
*
* @section Base
* @author  laustdeleuran
*/
%clearfix-after {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.ie7 & { min-height: 1px; }
}
%hide-text {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
%pseudo-block {
	@extend %hide-text;	
	content:".";
	display:block;
}
%min-width {
	min-width: 280px;
}
@mixin poly-before {
	&:before {
		content:"\2009";
		@content;
	}
	&>.before {
		@content;
	}
}
@mixin poly-after {
	&:after {
		content:"\2009";
		@content;
	}
	&>.after {
		@content;
	}
}
// Scrolling shadow mixin - http://codepen.io/laustdeleuran/pen/DBaAu
@mixin scrolling-shadows($direction: Y, $background-color: rgb(255, 255, 255), $shadow-intensity: 0.2, $shadow-color: rgb(0,0,0), $cover-size: 40px, $shadow-size: 14px) {

	@if $direction == X {
		background:
			// Shadow covers 
			linear-gradient(to right, $background-color 30%, rgba($background-color, 0)),
			linear-gradient(to right, rgba($background-color, 0), $background-color 70%) 0 100%,

			// Shadows 
			radial-gradient(0 50%, farthest-side, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)),
			radial-gradient(100% 50%, farthest-side, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)) 100% 0;
		background:

			// Shadow covers 
			linear-gradient(to right, $background-color 30%, rgba($background-color, 0)),
			linear-gradient(to right, rgba($background-color, 0), $background-color 70%) top right,

			// Shadows 
			radial-gradient(farthest-side at 0 50%, rgba($shadow-color, $shadow-intensity), rgba($shadow-color, 0)) 0 0,
			radial-gradient(farthest-side at 100% 50%, rgba($shadow-color, $shadow-intensity), rgba($shadow-color, 0)) 100% 0;
		background-repeat: no-repeat;
		background-color: $background-color;
		background-size: $cover-size 100%, $cover-size 100%, $shadow-size 100%, $shadow-size 100%;

		// Opera doesn't support this in the shorthand 
		background-attachment: local, local, scroll, scroll;

	} @else {
		background:
			// Shadow covers 
			linear-gradient($background-color 30%, rgba($background-color, 0)),
			linear-gradient(rgba($background-color, 0), $background-color 70%) 0 100%,

			// Shadows 
			radial-gradient(50% 0, farthest-side, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)),
			radial-gradient(50% 100%, farthest-side, rgba($shadow-color,$shadow-intensity), rgba($shadow-color,0)) 0 100%;
		background:

			// Shadow covers 
			linear-gradient($background-color 30%, rgba($background-color, 0)),
			linear-gradient(rgba($background-color, 0), $background-color 70%) 0 100%,

			// Shadows 
			radial-gradient(farthest-side at 50% 0, rgba($shadow-color, $shadow-intensity), rgba($shadow-color, 0)),
			radial-gradient(farthest-side at 50% 100%, rgba($shadow-color, $shadow-intensity), rgba($shadow-color, 0)) 0 100%;
		background-repeat: no-repeat;
		background-color: $background-color;
		background-size: 100% $cover-size, 100% $cover-size, 100% $shadow-size, 100% $shadow-size;

		// Opera doesn't support this in the shorthand 
		background-attachment: local, local, scroll, scroll;
	}
}